# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language: Cpp
Standard: c++17
IndentWidth: 4
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: true
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
AccessModifierOffset: -4
Cpp11BracedListStyle: true
ColumnLimit: 99
IncludeBlocks: Preserve
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
UseTab: Never
ForEachMacros: ['FOREACH']
NamespaceIndentation: All
CompactNamespaces: true
PackConstructorInitializers: Never
BinPackArguments: false
BinPackParameters: false
MaxEmptyLinesToKeep: 2
DerivePointerAlignment: false
PointerAlignment: Middle
ReferenceAlignment: Middle
QualifierAlignment: Left
ReflowComments: true
RemoveBracesLLVM: false
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
SeparateDefinitionBlocks: Leave
SortIncludes: CaseInsensitive
SortUsingDeclarations: false
UseCRLF: false
ExperimentalAutoDetectBinPacking: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: false
SpaceBeforeSquareBrackets: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpacesInAngles: Never
SpacesInConditionalStatement: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Allman
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AlignArrayOfStructures: Right
AlignAfterOpenBracket: Align
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 1000
BreakBeforeBinaryOperators: None
# InsertBraces: true     # clang-format 15
# BreakArrays: false     # clang-format 16
# RemoveSemicolon: true  # clang-format 16
